#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


* { box-sizing: border-box; }
body { margin: 0; }

.react-chatbot-kit-chat-container {
  justify-content: flex-end;
  width: 115%;
  height: 100%;
  height:97vh;
}
.react-chatbot-kit-chat-inner-container {
  height:101vh;
}

.react-chatbot-kit-chat-input-container {
  height: 5 vh;
}
.react-chatbot-kit-chat-message-container {
width: 30;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 103%;
  height: 100%;
  height:100vh;
  flex-direction: row;
  flex-grow: 1;

}

.otherComponents {
  flex-grow: 2;
  height:90vh;
  width: 5;
}

.react-flow__background{  
  height: 90vh;
}

