.react-chatbot-kit-chat-container {
  flex: 1 0;
  justify-content: flex-end;
  height:100vh;
  
}

.react-chatbot-kit-chat-inner-container {
  background: #242424
}

.react-chatbot-kit-chat-input-container {
  height: 10vh;
  width: 45vh;

}
.react-chatbot-kit-chat-message-container {
width: 40vh;
height: 80vh;
background: #242424
}

.react-chatbot-kit-chat-header { 
  color: white;
  background: #242424;
  width: 40vh
}

.container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;


}

.otherComponents {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;

}
