#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


* { box-sizing: border-box; }
body { margin: 0; }

.react-chatbot-kit-chat-container {
  justify-content: flex-end;
  width: 170%;
  height: 100%;
  height:97vh;
}
.react-chatbot-kit-chat-inner-container {
  height:100vh;
}

.react-chatbot-kit-chat-input-container {
  height: 5vh;
}
.react-chatbot-kit-chat-message-container {
width: 50;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 120%;
  height: 100%;
  height:100vh;
  flex-direction: row;
  flex-grow: 1;

}

.otherComponents {
  flex-grow: 2;
  height:100vh;
}



