.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #000000;
  font-size: 12px;
}
.AI-role-label {
  display: block;
  color: #000000;
  font-size: 12px;
}

.remove-node-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ededed;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 15%;
  width: 5px;
  height: 5px;
  cursor: pointer;
}

.x-text {
  position: absolute;
  font-size: 1.5rem;
  align-items:center;
  color: white;
  pointer-events: none;
}
